* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(30, 54%, 90%);
    
    display: flex;
    justify-content: center;
    color: hsl(24, 5%, 18%);
}

.container {
    margin-top: 10vh;
    min-width: 400px;
    width: 900px;
    padding: 50px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header .img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.title {
    font-family: 'young serif', 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.header p {
    font-size: 18px;
    font-weight: 400;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 20px 30px;
    margin-top: 20px;
}

.better-list-position {
    list-style-position: inside;
}